<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<div>
  <% for i in 0..(@product.pictures.length-1)%>
      <%if @product.pictures.attached?%>
        <%= image_tag (@product.pictures[i]), class:"img-display carousel-display" %>
      <%else%>
        sary
      <%end%>
  <%end%>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
